body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
}

#content {
      max-width: 300px;
      margin: 0 auto;
}

button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
}

button:hover {
      background-color: #45a049;
}